<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236298500212-iu92gebunhcteiu24ff86umfi3k296mk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236298500212-iu92gebunhcteiu24ff86umfi3k296mk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>236298500212-6u8h4a10g6rc60rm3n4o3p6sivjnnrll.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBD6o2f5MxDwBHurn895AVmMwjSJ7spxfc</string>
	<key>GCM_SENDER_ID</key>
	<string>236298500212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eatwaze.food</string>
	<key>PROJECT_ID</key>
	<string>eatix-17d2a</string>
	<key>STORAGE_BUCKET</key>
	<string>eatix-17d2a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236298500212:ios:ba81e5e5af26a742953921</string>
</dict>
</plist>